html
    head
        meta(charset='UTF-8')
        title= 'Train picker'
        link(rel='stylesheet', type='text/css', href='/index.css')
        link(rel='stylesheet', type='text/css', href='/locations.css')
        link(rel='stylesheet', type='text/css', href='/material.css')
        link(rel='stylesheet', type='text/css', href='/recap.css')
    body
        script(src='/bundle.js')
        script(defer, src='https://code.getmdl.io/1.2.0/material.min.js')

